@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    35 One Way Road<br />
    Ghernomorsk, Ukraine 77777 <br />
    <abbr title="Phone">P:</abbr>
    +380 123 4567891
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@HaG.com">Support@HaG.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@HaG.com">Marketing@HaG.com</a>
</address>